@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "San Francisco Bold";
    src: url(/fonts/SFPRODISPLAYREGULAR.OTF);
}

body {
    margin: 0;
    padding: 0;
    font-family: "San Francisco";
}

.container {
    display: flex;
    width: 414px;
    padding: 7px 20px 5px 20px;
    margin: 0 auto;
}

.bold-font {
    font-family: "San Francisco Bold";
    font-weight: bold;
}

.gray-font {
    color: #687684;
}

.gray {
    color: rgb(191, 197, 204);
}

.profile-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

i {
    cursor: pointer;
}

.blue {
    color: #4C9EEB;
}

textarea {
    resize: none;
}

/* NAV */

nav .container {
    justify-content: space-between;
    align-items: center;
}

nav .item-nav {
    font-size: 25px;
    color: #4C9EEB;
}

/* TWEET FEED*/
.tweets-feed {
    padding-bottom: 40px;
}

.tweet-container {
    width: 414px;
    margin: auto;
    border-top: .5px solid rgb(191, 197, 204);
    padding: 10px 20px 10px 20px;
}

.tweet {
    display: flex;
    gap: 8px;
}

.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user-profile-container i {
    font-size: 13px;
    margin-left: auto;
    margin-top: 2px;
    margin-bottom: 5px;
}

.tweet .bigger {
    width: 50px;
    height: 50px;
}

.line {
    width: 2px;
    background-color: rgb(191, 197, 204);
    position: absolute;
    top: 72px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}

.thread-img {
    margin: auto auto 0 auto;
    transform: translateY(20%);
}

.thread a {
    text-decoration: none;
}

.verified {
    position: relative;
    display: inline-block;
}

.verified .fa-check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: white;
}

.following-interaction {
    font-size: 13px;
    display: flex;
    gap: 8px;
}

.user-data {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.user-data i {
    margin-left: auto;
}

.tweet-text {
    margin-top: 2px;
    margin-bottom: 0;
}

.tweet-details {
    margin-top: 8px;
    display: flex;
    width: 260px;
    justify-content: space-between;
}

.tweet-detail {
    font-size: 14px;
}

.thread {
    margin-top: 10px;
    margin-bottom: 0;
}

.liked {
    color: rgb(229, 57, 127);
}

.retweeted {
    color: rgb(83, 183, 129);
}

.new-tweet-btn {
    position: fixed;
    display: inline-block;
    bottom: 55px;
    right: 12px;
}

.new-tweet-btn .fa-circle {
    font-size: 50px;
    text-shadow: .5px 1px rgb(191, 197, 204);
}

.new-tweet-btn .fa-plus {
    position: absolute;
    top: 45%;
    left: 38%;
    transform: translate(-80%, -100%);
    font-size: 10px;
    color: white;
}

.new-tweet-btn .fa-feather {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: white;
}

.new-tweet-input {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80vw;
    height: 40vh;
    border: .5px solid rgb(191, 197, 204);
    border-radius: 20px;
    background-color: white;
    padding: 20px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    border: none;
    background-color: white;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.tweet-btn {
    padding: 8px 13px;
    background-color: #4C9EEB;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.input-container {
    display: flex;
    gap: 8px;
    margin-top: 5px;
}

.input-container textarea {
    border: none;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    height: 300px;
    padding: 10px 5px;
}

button:disabled {
    opacity: 50%;
}

.delete-tweet-container {
    position: relative;
}

.delete-tweet-container button {
    display: inline-block;
    position: absolute;
    width: 150px;
    top: 5px;
    right: -5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.2);
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    border-top: .5px solid rgb(191, 197, 204);
}

footer .container {
    justify-content: space-around;
    padding: 12px 0;
}

footer .container i {
    font-size: 20px;
}

.display-none {
    display: none;
}